/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Everything */
* {
  font-family: 'Montserrat';
  color: white;
  list-style: none;
  text-align: center;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  background: #3266cd;
}

/* NavBar */
.navbar {
  background-color: #0000cc;
  height: 60px;
  width: 100%;
  position: fixed;
  margin-top: -60px;
}

.top-div {
  margin-top: 60px;
}

/* App Header */

.app-header * {
  display: inline;
}

.app-header li {
  margin: 20px;
}

.app-header h1 {
  color: white;
}

.app-header a {
  color: white;
}

.app-header img {
  height: auto;
  width: auto;
  max-height: 30px;
  max-width: 30px;
}

/* Footer */
.footer {
  background-color: #0000cc;
  height: 60px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

/* App Header */
.app-footer * {
  display: inline;
}

.app-footer li {
  margin: 20px;
}

.app-footer h1 {
  color: white;
}

.app-footer a {
  color: white;
}

/* Main Container */
.main-container {
  padding-top: 100px;
  border: 5px;
  border-color: white;
}

/* Single Cryptocurrency */

/* Single Cryptocurrency Container */
div .single-cryptocurrency-container h1 {
  font-weight: bold;
  color: white;
}

/* Single Cryptocurrency Component */
div .single-cryptocurrency-component {
  background: white;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px, 0 lightgrey;
}

span.left {
  font-weight: bold;
}

span.right {
  float: right;
}

/* Cryptocurrency Table */

.cryptocurrency-table {
  margin: auto;
  width: 50% !important;
}

.cryptocurrency-table tbody tr td img{
  width:35px;
  height:35px;
}
