/* Body */
body {
  margin: 0;
  padding: 0;
  background: lightblue;
}

/* NavBar */
.navbar {
  background-color: #30b1ce;
  height: 60px;
  width: 100%;
  position: fixed;
  margin-top: -60px;
}

.top-div {
  margin-top: 60px;
}

  /* App Header */

  .app-header * {
    display: inline;
  }

  .app-header li {
    margin: 20px;
  }

  .app-header h1 {
    color: white;
  }

  .app-header a {
    color: white;
  }

/* Footer */
.footer {
  background-color: #30b1ce;
  height: 60px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

  /* App Header */
  .app-footer * {
    display: inline;
  }

  .app-footer li {
    margin: 20px;
  }

  .app-footer h1 {
    color: white;
  }

  .app-footer a {
    color: white;
  }


/* Cryptocurrency Container */
.cryptocurrency-component-container h1 {
  display: inline;
}

/* Single Cryptocurrency */

  /* Single Cryptocurrency Container */
  div .single-cryptocurrency-container h1 {
    text-align: center;
    font-weight: bold;
    color: white;
  }

  /* Single Cryptocurrency Component */
  div .single-cryptocurrency-component {
    background: white;
    width: 70%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px, 0 lightgrey;
  }

  span.left {
    font-weight: bold;
  }

  span.right {
    float: right;
  }
